[Desktop Entry]
Name=Mountie
GenericName=Mountie
Comment=Mount your drive images easily
Categories=GTK;Utility;
Exec=mountie
Icon=ubiquity
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=mountie
X-GNOME-Keywords=Mountie;
