[Desktop Entry]
Type=Application
Name=Mountie
Comment=Mount your drive images easily.
GenericName=mountie
Exec=mountie %U
Icon=ubiquity
Terminal=false
Categories=GTK;Utility;
X-GNOME-Gettext-Domain=mountie
Actions=AboutDialog;

[Desktop Action AboutDialog]
Exec=mountie --about
Name=About Mountie
